<!DOCTYPE html>
<html>
<head>
    <title>Greet <%= @name %></title>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
</head>
<body>
    <div class='container'>
        <form method="post" action='/'>
            <input type='text' name='name'>

            <button type='submit' class='btn btn-success'>Submit</button>
        </form>
    </div>
</body>
</html>