<!DOCTYPE html>
<html>
<head>
    <title>Greet <%= @name %></title>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
</head>
<body>
    <div class='container'>
        <form method="post" action='/'>
            <h4> Name: </h4> 
            <input type='text' name='user_name'><br>
            <h4> Email: </h4> 
            <input type = 'text' name= 'user_email'>

            <br><br>Which Operating System do you use? <br><br>

            <input type = 'radio' name = 'user_opsys' value = "Windows">  Windows<br><br>
             <input type = 'radio' name = 'user_opsys' value = "Mac">  Mac<br><br>
              <input type = 'radio' name = 'user_opsys' value = "Linux">  Linux<br><br>

            <button type='submit' class='btn btn-success'>Submit</button>

        </form>
    </div>
</body>
</html>