<!DOCTYPE html>
<html>
<head>
    <title>Greet <%= @name %></title>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css'>
</head>
<body>
    <div class='container'>
        <form method="post" action='/'>
            <h4> User Name: </h4> <br>
            <input type='text' name='user_name'><br>
            <h4> User Email: </h4> <br>
            <input type = 'text' name= 'user_email'>

            <input type = '' name = 'user_opsys'
            <br><button type='submit' class='btn btn-success'>Submit</button>

        </form>
    </div>
</body>
</html>